# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:1. Python
2. R
3. SQL
4. C++
5. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science|
|------------|
|Matlab|
|Python|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
- Python
- R
- SQL
- Java
- C++

## Author
pathum